<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="main_div">
  <!-- 타이틀 영역 -->
  <table width="690" height="50" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td><img src="/img/title_04.gif"></td>
    </tr>
  </table>
  <!-- 리스트 영역 -->
  <table width="690" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="50" class="td_a">번호</td>
      <td width="2" class="td_b"><img src="/img/td_bg_01.gif"></td>
      <td class="td_b" width="300">제목</td>
      <td width="2" class="td_b"><img src="/img/td_bg_01.gif"></td>
      <td width="90" class="td_b">작성자</td>
      <td width="2" class="td_b"><img src="/img/td_bg_01.gif"></td>
      <td width="90" class="td_c">작성일</td>
    </tr>
    <% if(list.length==0){ %>
      <tr>
        <td align="center" colspan="7" width="100%" height="50"
        style="border: 1 solid #efefef">현재 등록된 글이 없습니다.</td>
      </tr>
    <% } %>
    <% for(var bbs of list){ %>
    <tr>
      <td align="center" class="td_a_1"><%=bbs.idx%></td>
      <td class="td_b_1"><img src="/img/td_bg_02.gif"></td>
      <td align="center" class="td_b_1">
        <a href="/bbs/view/<%=bbs.idx%>"><%=bbs.title%></a>
      </td>
      <td class="td_b_1"><img src="/img/td_bg_02.gif"></td>
      <td align="center" class="td_b_1"><%=bbs.name%></td>
      <td class="td_b_1"><img src="/img/td_bg_02.gif"></td>
      <%
        var year = bbs.regdate.getFullYear();
        var month = bbs.regdate.getMonth()+1;
        var date = bbs.regdate.getDate();
        var regdate = year+'. '+month+'. '+date;
      %>
      <td align="center" class="td_c_1"><%=regdate%></td>
    </tr>
    <% } %>
    <tr>
			<td align="right" colspan="7">
        <!-- 등록버튼 -->
        <img src="/img/btn_reg.gif"
  				onClick="JavaScript:location.href='/bbs/insert'"
  				style="cursor: pointer">
          <!-- 취소버튼 -->
        <img src="/img/btn_back.gif"
  				onClick="JavaScript:location.href='/menu'"
  				style="cursor: pointer">
      </td>
		</tr>
  </table>
</div>
</body>

</html>
