doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    link(rel="stylesheet" href="/css/style.css")
    title
    include ../included/login_check
  body
    if(user)
      include ../included/menu_layout
      .main_div
        table.list_table(cellspacing="0" cellpadding="0")
          tr
            td.td_a(width="50") 번호
            td.td_b(width="2"): img(src="/img/td_bg_01.gif")
            td.td_b(width="300") 제목
            td.td_b(width="2"): img(src="/img/td_bg_01.gif")
            td.td_b(width="60") 작성자  
            td.td_b(width="2"): img(src="/img/td_bg_01.gif")
            td.td_c(width="120") 작성일
          for item in list
            tr
              td.td_a_1.td_ct(width="50") #{item.idx}
              td.td_b_1(width="2"): img(src="/img/td_bg_02.gif")
              td.td_b_1.td_ct(width="300") 
                a(href="/bbs/view/"+item.idx) #{item.title}
              td.td_b_1(width="2"): img(src="/img/td_bg_02.gif")
              td.td_b_1.td_ct(width="300") #{item.name}
              td.td_b_1(width="2"): img(src="/img/td_bg_02.gif")
              td.td_c_1.td_ct(width="90") #{item.regdate.toDateString()}
          else
            tr
              td.no_exist(colspan="7") 현재 등록된 글이 없습니다.
          tr
            td
              a(href="/bbs/insert"): img(src="/img/btn_reg.gif")
