doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    title
    link(rel="stylesheet" href="/css/style.css")  
    include ../included/login_check
  body
    if(user)
      include ../included/menu_layout
      .main_div
        table.list_table(cellspacing="0" cellpadding="0")
          tr
            td.td_d(width="120" height="25" ) 제목
            td.td_d_1.td_pd #{item.title}
          tr
            td.td_d_4(width="120" height="25") 작성자
            td.td_d_2.td_pd #{item.name}
          tr
            td.td_d_4(width="120" height="25") 작성일
            td.td_d_2.td_pd #{item.regdate.toDateString()}
          tr
            td.td_d_4(width="120") 내용
            td.td_d_3.td_wrap.td_pd(width="570")
              pre #{item.content}
        table.list_table(cellspacing="0" cellpadding="0")
          tr
            td(height="5")
          tr
            td(align="right")
              a(href="/bbs/list"): img.pointer(src="/img/btn_list.gif")
              a(href="/bbs/list"): img.pointer(src="/img/btn_modify.gif")
              a(onclick="del("+item.idx+")"): img.pointer(src="/img/btn_delete.gif")
          
