<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript">
    function update(f) {
      document.getElementById('f').submit();
    }
  </script>
</head>

<body>
  <div class="main_div">
    <form id="f" action="/bbs/update" method="post">
      <input type="hidden" name="idx" value="<%=bbs.idx%>">
      <table width="690" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="120" height="25" class="td_d">제목</td>
          <td class="td_d_1">
            <input type="text" name="title" value="<%= bbs.title %>">
          </td>
        </tr>
        <tr>
          <td width="120" height="25" class="td_d_4">작성자</td>
          <td class="td_d_2">
            <input type="text" name="name" value="<%=bbs.name%>" readonly="true">
          </td>
        </tr>
        <tr>
          <td width="120" class="td_d_4">내용</td>
          <td class="td_d_3" width="570" style="word-wrap:break-word;word-break:break-all">
            <textarea name="content" rows="8" cols="80"><%= bbs.content %></textarea>
          </td>
        </tr>
      </table>
      <table width="690" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="5"></td>
        </tr>
        <tr>
          <td align="right">
            <img src="/img/btn_reg.gif" onClick="update()" style="cursor:pointer">
            <img src="/img/btn_back.gif" onClick="javaScript:location.href='/bbs/view/<%=bbs.idx%>'" style="cursor:pointer">
          </td>
        </tr>
      </table>
      <form>
  </div>
</body>

</html>
